.eventItem {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.actorAvatar {
  width: 4rem;
  border-radius: 50%;
}

.eventDetails {
  flex-grow: 1;
}

.eventText {
  word-break: break-word;
  font-size: 18px;
}

.eventTimestamp {
  font-size: 0.65rem;
}
