.appContainer {
    min-height: 100vh;
    background-color: #000; /* Equivalent to bg-black */
  }
  
  .container {
    max-width: 960px; /* Equivalent to container */
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.75rem; /* Equivalent to py-3 */
  }
  
  .text-gray-200 {
    color: #e2e8f0;
  }
  
  .py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  
  /* You may need to define styles for the Logo component separately */
  